@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base reset and UI styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.toolIcon svg path {
  fill: #5a6168;
}

.toolIcon.active svg path {
  fill: rgb(118 74 188 / var(--tw-bg-opacity));
}

i {
  font-style: normal;
  display: inline-block;
  height: 100%;
}

@media screen and (orientation: landscape) {
  body {
    background-color: #fff;
  }
}
@media screen and (orientation: portrait){
  body::before {
    content: "Please rotate your device to landscape mode.";
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #111;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    text-align: center;
    padding: 2rem;
  }

  /* Hide main content */
  #root > * {
    display: none;
  }
}
